.container {
  display: grid;
  grid-template-areas: "count actions clear";
  grid-template-columns: minmax(80px, auto) 1fr minmax(140px, auto);
  gap: 10px;
}

.count {
  grid-area: count;
}

.actions {
  grid-area: actions;
  text-align: center;
}

.clear {
  grid-area: clear;
  text-align: end;
}

@media (max-width: 1024px) {
  .container {
    grid-template-areas:
      "count"
      "actions"
      "clear";
    grid-template-columns: 1fr;
  }

  .count {
    text-align: center;
  }

  .clear {
    text-align: center;
  }
}
